{{ "<!-- ANGEL IMAGE -->" | safeHTML }}
<section class="images">
  <div class="image-container">
      <img class="angel2" src="/typo-images/angel.jpg">
      <img class="angel2" src="/typo-images/valley.jpg">
      <img class="angel2" src="/typo-images/crystal.jpg">
      <img class="angel2" src="/typo-images/tina.jpg">
      <img class="angel2" src="/typo-images/coburn.jpg">
      <img class="angel2" src="/typo-images/brown.jpg">
      <img class="angel2" src="/typo-images/gideon.jpg">
      <img class="angel2" src="/typo-images/stewart.jpg">
      <img class="angel2" src="/typo-images/risley.jpg">
  </div>
</section>
