{{ "<!-- RESEARCHSECTION -->" | safeHTML }}
<section class="collection">
  <div class="title-container">
    <h2 class="bold-titles">RESEARCH</h2>
  </div>
  <hr>
      <h3 class="sub-titles">WHAT DO WE KNOW ABOUT EARNS USERS?</h3>
      <p class="credit1">Research provided by EARN.org research team</p>
<div class="researchDesign">
  <div class="android-pie-conatiner">
    <div class="android-container">
      <img class="android-img" src="/earn-images/androidLogo.png">
      <p class="p-android">EARN's users primarily use Android devices</p>
    </div>
    <div class="pie-container">
      <div class="pie-container">
        <img class="pie" src="/earn-img/pie2.png">
      </div>
      <p class="pie-text">The majority of EARN's users are women</p>
    </div>
  </div>
    <p class="frequent-apps-title">EARN's user frequently use these finance apps:</p>
    <div class="tools-container2">
      <div class="freq-container">
        <img src="/earn-img/mint-icon.png">
        <h6>Mint</h6>
      </div>
      <div class="freq-container">
        <img src="/earn-img/acorn-icon.png">
        <h6>Acorns</h6>
      </div>
      <div class="freq-container">
        <img src="/earn-img/digit-icon.png">
        <h6>Digit</h6>
      </div>
    </div>
  <div>
    <img class="together" src="/earn-img/gatheredTitle.png">
  </div>
  </div>
  <div>
    <h3 class="sub-titles">THE SITE MUST...</h3>
  </div>
  <div class="must-container">
    <div class="must-icon-container">
      <img src="/earn-img/book.png">
      <h6>Be easy to read</h6>
    </div>
    <div class="must-icon-container">
      <img class="mobile-friendly" src="/earn-img/mobile-friendly.png">
      <h6 class="mobile-friendly">Be mobile friendly</h6>
    </div>
    <div class="must-icon-container">
      <img src="/earn-img/positive.png">
      <h6>Include positive language</h6>
    </div>
  </div>
    <div>
      <h3 class="sub-titles">PLATFORMS</h3>
    </div>
      <div class="p-subtitles">
        <p>
          After learning who our users were we needed to understand what platforms we would be using and what limitations we would face.
        </p>
      </div>
  <div class="tools-container4">
    <img src="/earn-img/zendesk-icon.png">
    <img src="/earn-img/wordpress-icon.png">
  </div>
  <div class="title-container">
    <h2 class="bold-titles">DESIGN</h2>
  </div>
  <hr>

  <div>
    <h3 class="sub-titles2">INITIAL SKETCHES</h3>
  </div>
  <div class="white-container">
    <p class="white-text">
      We performed usability testing on our initial sketches to determine what did and didn’t work (shapes, category placement, and CTA placement)
    </p>
  </div>
  <div class="bg-img">
    </div>

    <div>
      <h3 class="sub-titles">CODING INITIAL PROTOTYPE</h3>
    </div>
    <div class="p-subtitles">
      <p>
        Then we did some usability testing on We set up a temporary Zendesk account allowing us to easily transfer our final code to EARN’s platform.
      </p>
    </div>

  <div class="code-contianer">
    <img class="code" src="/earn-img/code.png">
  </div>
  <h3 class="sub-titles">INITIAL PROTOTYPE</h3>
<div class="slideshow-container" id="prototype">
  <div class="mySlides fade">
    <img src="/earn-images/prototype1.png" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="/earn-images/prototype2.png" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="/earn-images/prototype3.png" style="width:100%">
  </div>

  <a class="prev" onclick="plusSlides(-1, 'prototype')">&#10094;</a>
  <a class="next" onclick="plusSlides(1, 'prototype')">&#10095;</a>
</div>
<br />
<div style="text-align:center; margin-bottom:6em;">
  <span class="dot" onclick="currentSlide(1, 'prototype')"></span>
  <span class="dot" onclick="currentSlide(2, 'prototype')"></span>
  <span class="dot" onclick="currentSlide(3, 'prototype')"></span>
</div>
<div class="title-container">
  <h2 class="bold-titles">TESTING</h2>
</div>
<hr>
<div class="tools-container">
  <div class="test-icon-container">
    <img src="/earn-img/users.png">
    <h6>6 User</h6>
  </div>
  <div class="test-icon-container">
    <img src="/earn-img/timer.png">
    <h6>30 Minutes</h6>
  </div>
</div>
<div class="testing-container">
  <div>
    <img class="right-set" src="/earn-img/imgOne.png">
  </div>
  <div class="text-left">
    <p class="text-alignment">During usability testing we asked our users to take a look at some exisiting help center pages and walk us through their process be if using that page to find an answer to a question.</p>
  </div>
</div>
<div class="testing-container">
  <div>
    <img class="left-set" src="/earn-img/imgTwo.png">
  </div>
  <div class="text-right">
    <p class="text-alignment2">After that we had our users test our initial prototype on a moblie device to see what areas we needed to change to make our site the best it could be.</p>
  </div>
</div>
    <div class="testing-container">
      <div>
        <img class="right-set" src="/earn-img/imgThree.png">
      </div>
    <div class="text-left">
      <p class="text-alignment">We then took all of our notes from the usability testing and did some infinity mapping to se what common themes there were across the users experiences.</p>
    </div>
  </div>
    <div class="testing-container">
      <div>
        <img class="left-set" src="/earn-img/imgFour.png">
      </div>
    <div class="text-right">
      <p class="text-alignment2">All of this feedback help to form our final interations.</p>
    </div>
  </div>
<div class="overall-container">

    <div class="final-space">
      <h3 class="sub-titles">FINAL ITERATIONS</h3>
    </div>

</div>
  <div class="sub-container">
    <p>
      Using what we learned from our usability testing we created high fidelity mock-ups and conducted more testing of the updated design.
    </p>
  </div>

  <div class="slideshow-container" id="final-iterations">
    <div class="mySlides fade">
      <img src="/earn-images/secondIteration1.png" style="width:100%">
    </div>

    <div class="mySlides fade">
      <img src="/earn-images/secondIteration2.png" style="width:100%">
    </div>

    <div class="mySlides fade">
      <img src="/earn-images/secondIteration3.png" style="width:100%">
    </div>

    <a class="prev" onclick="plusSlides(-1, 'final-iterations')">&#10094;</a>
    <a class="next" onclick="plusSlides(1, 'final-iterations')">&#10095;</a>
  </div>
  <br>

  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1, 'final-iterations')"></span>
    <span class="dot" onclick="currentSlide(2, 'final-iterations')"></span>
    <span class="dot" onclick="currentSlide(3, 'final-iterations')"></span>
  </div>

<div class="gathered-container">
  <h2 class="bold-titles">CONCLUSION</h2>
</div>
<hr>
<div class="conclusion-container">
  <div class="slideshow-container" id="conclusion">
    <div class="mySlides fade">
      <img src="/earn-images/liveSite2.png" style="width:100%">
    </div>

    <div class="mySlides fade">
      <img src="/earn-images/liveSite1.png" style="width:100%">
    </div>

    <div class="mySlides fade">
      <img src="/earn-images/liveSite3.png" style="width:100%">
    </div>

    <a class="prev" onclick="plusSlides(-1, 'conclusion')">&#10094;</a>
    <a class="next" onclick="plusSlides(1, 'conclusion')">&#10095;</a>
  </div>
  <br>

  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1, 'conclusion')"></span>
    <span class="dot" onclick="currentSlide(2, 'conclusion')"></span>
    <span class="dot" onclick="currentSlide(3, 'conclusion')"></span>
  </div>
</div>


  <p class="conclusion-text">This was a great project to work on. I would have wanted to do more research into other help center hosting options that may be more cost effective than the current program and allow for more customization. Along with running another round of usability testing to ensure our solutions really meet the users needs.</p>

<div class="button-container">
  <a href="https://help.earn.org/hc/en-us"><button class="site-button">GO TO SITE</button></a>
</div>

</section>
