{{ "<!-- RESEARCHSECTION -->" | safeHTML }}
<section class="collection">
  <div class="title-container">
    <h2 class="bold-titles">RESEARCH</h2>
  </div>
  <hr>
  <div class="researchDesign">
      <h3 class="sub-titles">WHAT DO WE KNOW ABOUT EARNS USERS?</h3>
      <p class="credit1">Research provided by EARN.org research team</p>
    <div>
      <p class="p-android">EARN's users primarily use Android devices</p>
      <img class="android-img" src="/earn-images/androidLogo.png">
    </div>
    <p class="pie-text">The majority of EARN's users are women</p>
    <div class="pie-container">
      <img class="pie" src="/earn-img/pie2.png">
      <h5 class="men">25% MEN</h5>
    </div>
    <h5 class="women">75% WOMEN</h5>
    <p class="frequent-apps-title">EARN's user frequently use these finance apps:</p>
    <div class="tools-container2">
      <div class="freq-container">
        <img src="/earn-img/mint-icon.png">
        <h6>Mint</h6>
      </div>
      <div class="freq-container">
        <img src="/earn-img/acorn-icon.png">
        <h6>Acorns</h6>
      </div>
      <div class="freq-container">
        <img src="/earn-img/digit-icon.png">
        <h6>Digit</h6>
      </div>
    </div>
  <div>
    <img class="together" src="/earn-img/gatheredTitle.png">
  </div>
  </div>
  <div class="insigt-container">
    <h4>The site must...</h4>
  </div>
  <div class="must-container">
    <div class="must-icon-container">
      <img src="/earn-img/book.png">
      <h6>Be easy to read</h6>
    </div>
    <div class="must-icon-container">
      <img src="/earn-img/mobile-friendly.png">
      <h6>Be mobile friendly</h6>
    </div>
    <div class="must-icon-container">
      <img src="/earn-img/positive.png">
      <h6>Include positive language</h6>
    </div>
  </div>
  <div class="gathered-contain">
    <h3 class="sub-titles">PLATFORMS</h3>
    <div>
      <div class="sub-container">
        <p>
          After learning who our users were we needed to understand what platforms we would be using and what limitations we would face.
        </p>
      </div>
    </div>
  </div>
  <div class="tools-container4">
    <img src="/earn-img/zendesk-icon.png">
    <img src="/earn-img/wordpress-icon.png">
  </div>
  <div class="title-container">
    <h2 class="bold-titles">DESIGN</h2>
  </div>
  <hr>
<div class="gathered-container">
  <div class="bg-img">
    <h3 class="sub-titles2">INITIAL SKETCHES</h3>
    <div class="sub-container2">
      <p>
        We performed usability testing on our initial sketches to determine what did and didn’t work (shapes, category placement, and CTA placement)
      </p>
    </div>
    </div>
  </div>
  <h3 class="sub-titles">CODING INITIAL PROTOTYPE</h3>
  <div class="sub-container">
    <p>
      Then we did some usability testing on We set up a temporary Zendesk account allowing us to easily transfer our final code to EARN’s platform.
    </p>
  </div>
  <div class="code-contianer">
    <img class="code" src="/earn-img/code.png">
  </div>
  <h3 class="sub-titles">INITIAL PROTOTYPE</h3>
<div class="sketch-container">
  <i class="fa fa-chevron-right" aria-hidden="true"></i>
<div>
  <img src="/earn-images/prototype1.png">
</div>
<div>
  <img src="/earn-images/prototype2.png">
</div>
<div>
  <img src="/earn-images/prototype3.png">
</div>
<div>
  <img src="/earn-images/prototype4.png">
</div>
<i class="fa fa-chevron-left hide"  aria-hidden="true"></i>
</div>
<div class="title-container">
  <h2 class="bold-titles">TESTING</h2>
</div>
<hr>
<div class="tools-container">
  <div class="test-icon-container">
    <img src="/earn-img/users.png">
    <h6>6 User</h6>
  </div>
  <div class="test-icon-container">
    <img src="/earn-img/timer.png">
    <h6>30 Minutes</h6>
  </div>
</div>
  <div class="sub-container">
    <img src="/earn-img/imgOne.png">
    <p>During usability testing we asked our users to take a look at some exisiting help center pages and walk us through their process be if using that page to find an answer to a question.</p>
    <img src="/earn-img/imgTwo.png">
    <p>After that we had our users test our initial prototype on a moblie device to see what areas we needed to change to make our site the best it could be.</p>
    <img src="/earn-img/imgThree.png">
    <p>We then took all of our notes from the usability testing and did some infinity mapping to se what common themes there were across the users experiences.</p>
    <img src="/earn-img/imgFour.png">
    <p>All of this feedback help to form our final interations.</p>
  </div>
<div class="gathered-container">
  <h3 class="sub-titles3">FINAL ITERATIONS</h3>
</div>
<div class="sub-container">
  <p>
    Using what we learned from our usability testing we created high fidelity mock-ups and conducted more testing of the updated design.
  </p>
</div>
<div class="sketch-container">
  <i class="fa fa-chevron-right" aria-hidden="true"></i>
  <div>
    <img src="/earn-images/secondIteration1.png">
  </div>
  <div>
    <img src="/earn-images/secondIteration2.png">
  </div>
  <div>
    <img src="/earn-images/secondIteration3.png">
  </div>
  <i class="fa fa-chevron-left hide" aria-hidden="true"></i>
</div>
<div class="gathered-container">
  <h2 class="bold-titles">CONCLUSION</h2>
</div>
<hr>
<div class="sketch-container">
  <i class="fa fa-chevron-right" aria-hidden="true"></i>
  <div>
    <img src="/earn-images/liveSite1.png">
  </div>
  <div>
    <img src="/earn-images/liveSite2.png">
  </div>
  <div>
    <img src="/earn-images/liveSite3.png">
  </div>
  <i class="fa fa-chevron-left hide" aria-hidden="true"></i>
</div>
<div class="sub-container">
  <p>This was a great project to work on. I would have wanted to do more research into other help center hosting options that may be more cost effective than the current program and allow for more customization. Along with running another round of usability testing to ensure our solutions really meet the users needs.</p>
</div>
<div class="button-container">
  <a href="https://help.earn.org/hc/en-us"><button class="site-button">GO TO SITE</button></a>
</div>
</section>
