{{ "<!-- RESEARCHSECTION -->" | safeHTML }}
<section class="collection">
  <div class="title-container">
    <h2 class="bold-titles">RESEARCH</h2>
  </div>
  <!--FIRST RESEARCH SECTIONS-->
  <div class="researchDesign">
      <h3 class="img-titles-2">WHAT DO WE KNOW ABOUT EARNS USERS?</h3>
      <p>Research provided by EARN.org research team</p>
    <div>
      <h5 class="p-android">EARN's users primarily use Android devices.</h5>
      <img class="android-img" src="/earn-images/androidLogo.png">
    </div>
    <h5 class="pie-text">The majority of EARN's users are women.</h5>
    <div class="pie-container">
      <img class="pie" src="/earn-img/pie2.png">
      <h5 class="men">25% MEN</h5>
    </div>
    <h5 class="women">75% WOMEN</h5>
    <!--FREQUENTLY VISITED APPS-->
    <h5 class="frequent-apps-title">EARN's user frequently use these finance apps:</h5>
    <div class="tools-container">
      <img src="/earn-img/mint-icon.png">
      <img src="/earn-img/acorn-icon.png">
      <img src="/earn-img/digit-icon.png">
    </div>
    <div class="tools-container">
      <h6>Be easy to read</h6>
      <h6>Be mobile friendly</h6>
      <h6>Include positive language</h6>
    </div>
<!--PHOTOS OF SARAH AND I  -->
  <div>
    <img class="together" src="/earn-img/gatheredTitle.png">
  </div>
</div>
  <!--FIRST SYNTHESIS SECTION-->
  <div class="insigt-container">
    <h4>The site must...</h4>
  </div>
  <div class="tools-container">
    <img src="/earn-img/book.png">
    <img src="/earn-img/mobile-friendly.png">
    <img src="/earn-img/positive.png">
  </div>
  <div class="tools-container">
    <h6>Be easy to read</h6>
    <h6>Be mobile friendly</h6>
    <h6>Include positive language</h6>
  </div>
  <!--SECOND SYNTHESIS SECTION-->
  <div class="gathered-container">
    <h3 class="img-titles3">PLATFORMS</h3>
    <div class="info-back3-1">
      <p class="text-inside-2" id="size">
        After understanding who our users were we needed to understand what platforms we would be using and what limitations we would face.
      </p>
    </div>
  </div>
  <div class="tools-container">
    <img src="/earn-img/zendesk-icon.png">
    <img src="/earn-img/wordpress-icon.png">
  </div>

  <div class="title-container">
    <h2 class="bold-titles">DESIGN</h2>
  </div>

  <!--FIRST DESIGN SECTION-->
<div class="gathered-container">
  <div class="bg-img">
    <div class="initial-container">
    <h3 class="img-titles2">INITIAL SKETCHES</h3>
      <p class="text-inside" id="size">
        We performed usability testing on our initial sketches to determine what did and didn’t work (shapes, category placement, and CTA placement)
      </p>
    </div>
  </div>
</div>

<!--SECOND DESIGN SECTION-->
<div class="gathered-container">
  <h3 class="img-titles3">CODING INITIAL PROTOTYPE</h3>
  <div>
    <p class="text-inside-2" id="size">
      Then we did some usability testing on We set up a temporary Zendesk account allowing us to easily transfer our final code to EARN’s platform.
    </p>
  </div>
  <div class="gathered-container">
    <img class="code"src="/earn-img/code.png">
  </div>
</div>

<!--THIRD DESIGN SECTION-->
<div class="gathered-container">
  <h3 class="img-titles-2">INITIAL PROTOTYPE</h3>
</div>
<div class="sketch-container">
<div>
  <img src="/earn-images/prototype1.png">
</div>
<div>
  <img src="/earn-images/prototype2.png">
</div>
<div>
  <img src="/earn-images/prototype3.png">
</div>
<div>
  <img src="/earn-images/prototype4.png">
</div>
</div>
<!--FOURTH DESIGN SECTION  -->

<div class="title-container">
  <h2 class="bold-titles">TESTING</h2>
</div>
<div class="tools-container">
  <img src="/earn-img/users.png">
  <img src="/earn-img/timer.png">
</div>
<div class="tools-container">
  <h6>Be easy to read</h6>
  <h6>Be mobile friendly</h6>
</div>
<div class="gathered-container">
  <div class="num-users">

  </div>
  <div class="info-back3-1">
    <p class="text-inside2" id="size">
      During our usability testing we asked our users to take a look at some existing help center pages and give us feedback on what they do and do not like. This gave us a lot of insight to what our users are looking for when using a help center to answer their questions.
    </p>
  </div>
  <div class="gathered-container">
    <img class="code2"src="/earn-images/usabilityTesting.png">
  </div>
  <div class="info-back3-1">
    <p class="text-inside2" id="size">
      After that we had our users test our initial prototype on a mobile device to see what areas we needed to change to make our site the best it could be.
    </p>
  </div>
</div>

<!--FIFTH DESIGN SECTION-->
<div class="gathered-container">
  <h3 class="img-titles3">SYNTHESIZING FEEDBACK</h3>
  <div class="info-back3-3">
    <p class="text-inside2" id="size">
      We then took all of our notes from the usability testing and did some infinity mapping to see what common themes there were across the users experiences.
    </p>
  </div>
</div>
  <div>
    <img class="synthesis1" src="/earn-images/sPhoto3.png">
  </div>
  <div>
    <img class="synthesis2" src="/earn-images/sPhoto2.png">
  </div>
  <div>
    <img class="synthesis3" src="/earn-images/sPhotos1.png">
  </div>

  <!--SIXTH DESIGN SECTION-->
<div class="gathered-container">
  <h3 class="img-titles-2">FINAL ITERATIONS</h3>
</div>
<div class="sketch-container">
  <div>
    <img src="/earn-images/secondIteration1.png">
  </div>
  <div>
    <img src="/earn-images/secondIteration2.png">
  </div>
  <div>
    <img src="/earn-images/secondIteration3.png">
  </div>
</div>

<!-- SEVENTH DESIGN SECTION -->
<div class="gathered-container">
  <h3 class="img-titles-2">CONCLUSION</h3>
</div>
<div class="sketch-container" id="final-size">
  <div>
    <img src="/earn-images/liveSite1.png">
  </div>
  <div>
    <img src="/earn-images/liveSite2.png">
  </div>
  <div>
    <img src="/earn-images/liveSite3.png">
  </div>
</div>
<div class="button-container">
  <a href="https://help.earn.org/hc/en-us"><button class="site-button">GO TO SITE</button></a>
</div>
</section>
