{{ "<!-- RESEARCHSECTION -->" | safeHTML }}
<section class="collection">
  <h3 class="bold-titles">THE RESEARCH</h3>
  <hr>
  <h4 class="sub-titles">SURVEYS</h4>
  <div>
    <p>
      We found out that most cyclists have heard about SFBC, but over 75% of cyclists said they are not members.
    </p>
  </div>
  <div class="graph-container">
    <div>
      <img class="graph1" src="/sfbc/graph1.png">
    </div>
    <div>
      <img class="graph2" src="/sfbc/graph2.png">
    </div>
  </div>
  <div class="percentage-conatainer">
    <div>
      <h1 class="percent">86%</h1>
    </div>
    <div>
      <h5>said personal safety is their main issue (fear of being hit by uber, lyft or taxi)</h5>
    </div>
  </div>
  <div class="percentage-conatainer">
    <div>
      <h1 class="percent">82%</h1>
    </div>
    <div>
      <h5>said road conditions are their main issue</h5>
    </div>
  </div>
  <div>
    <h4 class="sub-titles">INTERVIEWS</h4>
    <p>We interviewed some frequent cyclists and came away with similar trends regarding personal safety, road conditions, and lack of safe parking.</p>
  </div>
  <div>
    <div class="interview-container">
      <img class="interview" src="/sfbc/firstInterview.png">
    </div>
    <div>
      <img class="interview" src="/sfbc/secondInterview.png">
    </div>
    <div>
      <img class="interview" src="/sfbc/thirdInterview.png">
    </div>
  </div>
  <div class="">
    <p>“Increasing enforcement to reduce risk of theft, add more bike lanes, better car driver awareness”</p>
    <p>Third Bicyclist</p>
  </div>
  <div>
    <img class="interview" src="/sfbc/gathered.png">
  </div>
  <div>
    <h4 class="sub-titles">THE APP MUST INCLUDE…</h4>
  </div>
  <div class="tools-title-container">
    <h2 class="ovtitles">TOOLS</h2>
  </div>
  <div class="tools-container">
    <div class="icon-title-container">
      <img class="html-icon" src="/sfbc/issueReporting.png">
      <h6>ISSUE<br> REPORTING</h6>
    </div>
    <div class="icon-title-container">
      <img class="css-icon" src="/sfbc/statusUpdating.png">
      <h6>STATUS <br> UPDATING</h6>
    </div>
    <div class="icon-title-container">
      <img class="wordpress-icon" src="/sfbc/upvoting.png">
      <h6>UPVOTING</h6>
    </div>
    <div class="icon-title-container">
      <img class="zendesk-icon" src="/sfbc/routing.png">
      <h6>ROUTING</h6>
    </div>
    <div class="icon-title-container">
      <img class="zendesk-icon" src="/sfbc/parkingOptions.png">
      <h6>PARKING <br> OPTIONS</h6>
    </div>
    <div class="icon-title-container">
      <img class="zendesk-icon" src="/sfbc/eventInformation.png">
      <h6>ZENDESK</h6>
    </div>
  </div>
  <div>
    <h3 class="bold-titles">THE DESIGN</h3>
    <hr>
  </div>
  <div>
    <h4 class="sub-titles">INITIAL SKETCHES</h4>
  </div>
  <div>
    <div>
      <img class="sketches" src="/sfbc/sketchOne.png">
      <img class="sketches" src="/sfbc/sketchTwo.png">
    </div>
  </div>
  <div>
    <h4 class="sub-titles">USABILITY TESTING</h4>
  </div>
  <div>
    <div>
      <img class="interview" src="/sfbc/usabilityTesting1.png">
      <img class="interview" src="/sfbc/usabilityTesting2.png">
    </div>
  </div>
  <div>
    <h4 class="sub-titles">DESIGN REVISIONS</h4>
  </div>
  <div>
    <img class="sketches" src="/sfbc/revisions.png">
    <img class="key" src="/sfbc/map.png">
  </div>
  <div>
    <p>We continued on to  create some refined sketches and did more usability testing to understand what could be changed. </p>
  </div>
  <div class="">
    <div>
      <h3 class="bold-titles">THE PROTOTYPE</h3>
      <hr>
    </div>
    <p>After reviewing feedback from the usability testing we made some changes and moved on to create lo- fidleity mockups. We were able to use these lo-fidelity mockups to create our initial prototype, which allowed us to test and see how an cycilist would use the app in action.</p>
  </div>
  <div class="lo-fi-container">
    <div class="lo-fi-placement">
      <img class="lo-fi" src="/sfbc/loFi1.png">
    </div>
    <div class="lo-fi-placement">
      <img class="lo-fi" src="/sfbc/loFi2.png">
    </div>
    <div class="lo-fi-placement">
      <img class="lo-fi" src="/sfbc/loFi3.png">
    </div>
  </div>
  <div>
    <h4>1. ISSUE REPORTING</h4>
    <h4>2. STATUS UPDATES</h4>
    <h4>3. ROUTING</h4>
    <h4>4. PARKING OPTIONS</h4>
    <h4>5. EVENT INFORMATION</h4>
  </div>
  <div>
    <h4 class="sub-titles">HIGH-FIDELITY MOCK-UPS</h4>
  </div>
  <p>Incorporating the feedback from usability testing the low fidelity wireframes we continued to create our high fidelity mock-ups.</p>
  <div class="hi-fi-container">
    <div class="hi-fi-placement">
      <img class="hi-fi" src="/sfbc/hiFi1.png">
    </div>
    <div class="hi-fi-placement">
      <img class="hi-fi" src="/sfbc/hiFi2.png">
    </div>
    <div class="hi-fi-placement">
      <img class="hi-fi" src="/sfbc/hiFi3.png">
    </div>
  </div>
  <div>
    <h4 class="sub-titles">USABILITY TESTING</h4>
  </div>
  <div class="lo-fi-container">
    <div class="lo-fi-placement">
      <img class="lo-fi" src="/sfbc/testing1.png">
    </div>
    <div class="lo-fi-placement">
      <img class="lo-fi" src="/sfbc/testing2.png">
    </div>
    <div class="lo-fi-placement">
      <img class="lo-fi" src="/sfbc/testing3.png">
    </div>
  </div>
  <div>
    <h3 class="bold-titles">FINAL PROTOTYPE</h3>
    <hr>
  </div>
  <h3 class="img-titles2">High-Fidelity Prototype</h3>
  <div class="final container">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/BB84MRQ35Vo" frameborder="0" allowfullscreen></iframe>
  </div>
  <p>I enjoyed this concept project. It allowed me to expand my skills in research and to deepen my design skills. In the future I will make sure to ask more “Why” questions to further my understanding of why someone does or doesn’t use a product or service. </p>
</section>
