{{ "<!-- RESEARCHSECTION -->" | safeHTML }}
<section class="collection">
  <!--FIRST RESEARCH SECTIONS-->
  <div class="bike-path1">
    <div class="researchDesign">
      <img src="/images/firstIteration.png" alt="survey research">
    </div>
    <div class="graph1">
      <img src="/images/graph1.png" alt="graph">
    </div>
    <div class="info-back">
      <p class="text-inside">
        After doing some surveying we found out that most cyclists have heard about SFBC, but over 75% of cyclists said they were not members.
      </p>
    </div>
    <div class="graph2">
      <img src="/images/graph2.png" alt="graph2">
    </div>
  </div>
  <!--SECOND RESEARCH SECTION-->
  <div class="bike-path2">
    <div class="circle">
      <img src="/images/secondIteration.png" alt="Second Circle">
    </div>
    <div class="biker-one">
      <h2 class="img-titles">Biker #1</h2>
      <img src="/images/bikerOne.png" alt="Interview picture with biker #1.">
    </div>
    <div class="biker-two">
      <h2 class="img-titles">Biker #2</h2>
      <img src="/images/bikerTwo.png" alt="Interview picture with biker #2.">
    </div>
    <div class="biker-three">
      <h2 class="img-titles">Biker #3</h2>
      <img src="/images/bikerThree.png" alt="Interview picture with biker #3.">
    </div>
    <div class="info-back2">
      <p class="text-inside">
        We interviewed some frequent cyclists and came away with similar trends regarding personal safety, road conditions, and lack of safe parking.
      </p>
    </div>
    <div class="quote-back">
      <h4 class="text-inside">
        “Increasing enforcement to reduce risk of theft, add more bike lanes, better car driver awareness”
      </h4>
    </div>
  </div>
  <!--FIRST SYNTHESIS SECTION-->
  <div class="bike-path3">
    <div class="circle2">
      <img src="/images/secondIteration.png" alt="Second Circle">
    </div>
    <h3 class="img-titles2">WHAT WE GATHERED</h3>
    <div>
      <p class="text-inside-2">
        Based on the synthesis of our surveys, interviews and contextual inquiries, we came up with two key insights.
      </p>
    </div>
    <div class="info-back3">
      <ol class="text-inside-list">
        <li>There is no official way to report problems to anyone.</li>
        <li>There is no visibility of actions taken.</li>
      </ol>
    </div>
  </div>
  <!--SECOND SYNTHESIS SECTION-->
  <div class="bike-path4">
    <div class="circle3">
      <img src="/images/secondIteration.png" alt="Second Circle">
    </div>
    <h3 class="img-titles3">WHAT'S IN THE APP</h3>
    <div>
      <p class="text-inside-3">
        Based on our key insights, we created a list of features to include in our app.
      </p>
    </div>
    <div class="info-back3">
      <ol class="text-inside-list">
        <li>Report an issue</li>
        <li>Status of reported issue / up voting</li>
        <li>Routes / multiple route options</li>
        <li>Parking options</li>
        <li>Events / discounts</li>
      </ol>
    </div>
  </div>
  <!--FIRST DESIGN SECTION-->
  <div class="bike-path5">
    <div class="circle4">
      <a name = "design"></a>
      <img src="/images/circleColor.png" alt="Design Cycle">
    </div>
    <h3 class="img-titles4">THE DESIGN</h3>
    <div class="info-back-4">
      <p class="text-inside-4">
        To start the process, we created 5 rapidly sketched designs and got feedback on what worked and what didn’t.
      </p>
    </div>
    <div class="sketch-1">
      <img src="/images/sketches.png" alt="Initial Sketches">
    </div>
    <div class="images-usability">
      <h4 class="img-titles5">USABILITY TESTING</h4>
      <img class="usability-1" src="/images/usabilityPic1.png" alt="First picture of usability testing.">
      <img class="usability-1" src="/images/usabilityPic2.png" alt="Second picture of usability testing.">
      <h4 class="img-titles5">REVISIONS</h4>
      <img class="images-revision" src="/images/revision1.png" alt="Sketch changes">
      <img class="roadmap" src="/images/roadMap.png" alt="road map of changes">
    </div>
  </div>

<!--SECOND DESIGN SECTION-->
<div class="bike-path6">
  <div class="circle5">
    <img src="/images/circleColor.png" alt="design cycle">
  </div>
  <div class="info-back-6">
    <p class="text-inside-6">
      We continued on to  create some refined sketches and did more usability testing to understand what could be changed.
    </p>
  </div>
  <div class="second-design-container">
    <img class="refined" src="/images/refinedSketches.png" alt="refined sketches">
  </div>
  <div class="info-back-6">
    <p class="text-inside-6">
      After reviewing feedback from the usability testing we made some changes and moved on to create lo- fidleity mockups. We were able to use these lo-fidelity mockups to create our initial prototype, which allowed us to test and see how an cycilist would use the app in action.
    </p>
  </div>
  <div>
    <img class="lo-fi" src="/images/loFi1.png" alt="lo-fidelity mock-up screen shots">
  </div>
  <div>
    <img class="lo-fi" src="/images/loFi2.png" alt="lo-fidelity mock-up screen shots">
  </div>
  <div>
    <img class="lo-fi1" src="/images/loFi3.png" alt="lo-fidelity mock-up screen shots">
  </div>
</div>


<!--THIRD DESIGN SECTION-->
<div class="bike-path7">
  <div class="circle6">
    <img src="/images/circleColor.png" alt="design cycle">
  </div>
  <div class="info-back-7">
    <p class="text-inside-7">
      Incorporating the feedback from usability testing the low fidelity wireframes we continued to create our high fidelity mock-ups.
    </p>
  </div>
  <h4 class="img-titles6">HOME SCREEN</h4>
  <div>
    <img class="hi-fi" src="/images/hiFi1.png" alt="lo-fidelity mock-up screen shots">
  </div>
  <h4 class="img-titles7">REPORT SCREENS</h4>
  <div>
    <img class="hi-fi2" src="/images/hiFi2.png" alt="lo-fidelity mock-up screen shots">
  </div>
  <div>
    <img class="hi-fi3" src="/images/hiFi3.png" alt="lo-fidelity mock-up screen shots">
  </div>
  <h4 class="img-titles8">USABILITY TESTING</h4>
  <div class="images-usability">
    <div>
      <img class="usability-1" src="/images/hiFiusability1.png" alt="lo-fidelity mock-up screen shots">
    </div>
    <div>
      <img class="usability-1" src="/images/hiFiusability2.png" alt="lo-fidelity mock-up screen shots">
    </div>
    <div>
      <img class="usability-1" src="/images/hiFiusability3.png" alt="lo-fidelity mock-up screen shots">
    </div>
  </div>
  <div class="info-back-8">
    <p class="text-inside-8">
    High-Fidelity Prototype
    </p>
  </div>
  <div>
    <a href="/images/hiFi1.png"><img class="final" src="/images/finalScreenshot.png" alt="lo-fidelity mock-up screen shots"></a>
  </div>
</div>
</section>
