<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
      {{ partial "nav.html" . }}
      {{ partial "project-hero.html" . }}
      {{ partial "overview.html" . }}
      {{ partial "screenshot.html" . }}
      {{ partial "sectiontitle.html" . }}
      {{ partial .Params.researchSection . }}
      {{ partial "reflections.html" . }}
      {{ partial "contact.html" . }}
    </body>
</html>
