@import "project.css";

header{
  height: 45%;
}

hr{
  max-width: 30%;
  width: 30%;
  margin-top: .1em;
  margin-bottom: 1.5em;
}

body{
  font-family: futura, cursive, sans-serif;
}

.sketch-container>.fa{
  position: absolute;
}
.sketch-container>.fa-chevron-left {
  left: 1em;
}
.sketch-container>.fa-chevron-right {
  right: 1em;
}

.right-set{
  width: 100%;
  float: right;
  margin: 1em 0;
}

.left-set{
  width: 100%;
  float: left;
  margin: 1em 0;
}

.hide{
  display: none;
}

.role>p{
  font-size: 1.6rem;
  padding: 2em 1em 2em 1em;
  margin: 0;
}

p{
  font-size: 1.2rem;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
  width: 94vw;
  text-align: center;
  margin-bottom: 2em;
}

.text-center>p{
  width: 85vw;
}

.contact-container>div>p{
  width: 30vw;
  margin-left: 3em;
}

.screenshot{
  width: 90%;
  margin-left: 1.2em;
}

.screenshot-container{
  justify-content: flex-end;
}

h2{
  font-size: 1.7rem;
}

h3{
  font-family: futura, cursive, sans-serif;
}

h5{
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
}

h4{
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
}

.researchDesign>p{
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  width: 80%;
}

h6{
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
  margin: 1em;
  text-align: center;
}

.mobile-friendly{
  margin-left: 2em;
}

.role{
  background-color: #333;
  color: #fff;
  height: auto;
  text-align: center;
  margin: 2em 0 2em 0;
  display: flex;
  justify-content: center;
}

.tools-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 2em;
}

.icon-title-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
}
.icon-title-container>img{
  height: 3em;
}

.icon-title-container>.css-icon {
  height: auto;
  width: 2.5em;
  margin-top:5px;
}

.icon-title-container2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5em;
}

.icon-title-container2>img{
  height: 3em;
}

.freq-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5em;
}

.freq-container>img{
  height: 4em;
}

.must-icon-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.must-icon-container>img{
  height: 4em;
}



.tools-container1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.tools-container1>img{
  width: 30%;
  padding: 1em 1em 0 1em;
}

.tools-container2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.tools-container2>img{
  width: 30%;
  padding: 1em 1em 0 1em;
}

.tools-container3{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
}

.must-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-left: 1.1em;
  margin-top: .5em;
  margin-bottom: 2em;
}

.must-container-text{
  display: flex;
  flex-direction: row;
  margin-left: 1.1em;
  margin-bottom: 3em;
}

.test-icon-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5em;
}

.test-icon-container>img{
  height: 3em;
}

.tools-container4{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1.1em;
  margin-bottom: 5em;
}

.tools-container4>img{
  width: 40%;
  padding: 1em 0 0 3em;
}

.tools-container5{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1.1em;
  margin-bottom: 3em;
}

.tools-container5>img{
  width: 40%;
  padding: 1em 0 0 3em;
}

.insigt-container>h4{
  margin: 0;
}

.pie-container{
  display: flex;
  flex-direction: column-reverse;
}

.android-pie-conatiner{
  display: flex;
  flex-direction: column;
}


.title{
  display: none;
}

.overviewSections{
  font-size: .8em;
}

.overview{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding-bottom: 0.5em;
}

.header-content{
  width: 40rem;
}

.researchDesign{
  align-self: auto;
  margin-top: 1.5em;
}

.research-title{
  font-size: 3.5em;
}

.title-container{
  display: flex;
  justify-content: center;
}

.bold-titles{
  font-size: 2em;
  font-weight: bold;
  margin-top: -1em;
  text-align: center;
}

.final-title{
  margin: 0 0 1rem 1.5rem;
  font-weight: 600;
  color: #333;
}

.date{
  color: #333;
  margin-top: 10em;
}

.bg-overview{
  background-color: #F4F9F2;
}

.bg-reflections{
  background-image: url('/earn-images/secondBg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  width: auto;
  padding-bottom: 2em;
  margin-top: 0;
}

.bg-secondary{
  background-image: url("/earn-images/secondBg.png");
  background-size: cover;
  background-position: center;
  height: auto;
}

.research-title{
  color: #333;
}

/*RESEARCH SECTION*/
.section-title{
  font-size: 2.6rem;
  font-weight: 600;
  color: #333;
  margin: 0 0 0 1rem;
}

.section-title2{
  float:right;
  font-size: 2.6rem;
  font-weight: 600;
  color: #333;
}

.credit1{
  text-align: center;
}

#size2{
  width: 20em;
}

.graph1{
  padding: 0;
  margin: 0;
}

.pie{
  width: 60%;
  margin-bottom: .5em;
}


.pie-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.credit1{
  font-size: 1.1rem;
}

.frequent-apps-title{
  margin: 1em 0 0 2em;
  /*text-align: center;*/
}

.p-android{
  text-align: left;
  width: 20em;
  margin: 1em 0 2em 0;
  font-size: 15px;
}

.pie-text{
  text-align: left;
  width: 21em;
  margin-top: .5em;
  text-align: center;
  font-size: 15px;
}

.android-img{
  width: 20%;
  float: left;
  margin: 0 1em 0 2em;
}

.together{
  margin: 3rem 0 2em 0;
  width: 100%;
}

.insigt-container>h4{
  text-align: center;
}

.white-text{
  color: #333;
  width: 23em;
  margin-left: 1em;
}

.overviewSections {
    font-size: .8em;
    text-align: left;
    width: 73vw;
    margin-left: 2.3em;
}

.bg-img{
  background-image: url("/earn-img/initial-sketches.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 35vh;
  margin-bottom: 3em;
}

.sub-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20em;
  padding: 0 1;
}

.sub-container>img{
  width: 100%;
  margin-bottom: 1.5em;
  margin-top: 1em;
}

.sub-container>p{
  margin-top: .5em;
  padding: 0 1em;
  font-size: 1.2rem;
}

.sub-container2{
  display: flex;
  justify-content: center;
}

.sub-container2>p{
  color: #fff;
  width: 30em;

}

.coding-container{
  margin-bottom: 1em;
}

.img-container{
  display: flex;
  flex-direction: column;
}

.img-container>img{
  width: 100%;
  margin-bottom: 1em;
}

.img-container>p{
  text-align: justify;
  align-self: center;
  padding: 0;
  width: 28em;
}

.sub-titles{
  font-size: 1.2em;
  text-align: center;
  margin: 0 1em .5em 1em;
}

.sub-titles2{
  font-size: 1.2em;
  text-align: center;
  color: #333;
}

.sub-titles3{
  font-size: 1.2em;
  text-align: center;
  margin: 1em 1em 1.5em 1em;

}

.img-titles2{
    font-size: 2.6rem;
    font-weight: 600;
    color: #fff;
    margin-top: 1em;
}

.text-inside-2{
  margin: 0;
  font-size: .8em;
  padding: 1em 2em 1em 2.5em ;
}

.text-inside-list{
  color: #333;
  font-size: .8em;
}

.text-alignment{
  width: 90vw;
  margin-left:.5em;
  text-align: center;
}

.text-alignment2{
  width: 90vw;
  text-align: center;
  margin-left: .5em;
}


.gathered-container{
  margin-top: 4em;
}

.p-subtitles{
  width:  19em;
}


.img-titles3{
    font-size: 2.6rem;
    font-weight: 600;
    float: right;
    margin: 1rem 0 1em .5em;
    color: #333;

}

.text-inside{
  text-align: center;
  color: #fff;
}

.initial-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.zendesk-img{
  width: 50%;
  /*margin: 1em 0 0 1em;*/
}

.zendesk{
  width: auto;
  font-size: 12px;
}

.platforms{
  margin: .5rem 0 2rem 2rem;
}

.wordPress{
  width: auto;
  font-size: 12px;
}

.wordPress-img{
  width: 15%;
  margin: 1rem 0 0 4rem;
}

.initial-proto{
  font-size: 2.6rem;
  font-weight: 600;
  margin: 3rem 0 0 2rem;
  color: #333;
}

.initial-proto1{
  font-size: 2.6rem;
  font-weight: 600;
  margin: 3rem 0 1.5rem 2rem;
  align-self: flex-start;
  color: #333;
}

.initial-proto2{
  font-size: 2.6rem;
  font-weight: 600;
  margin: 3rem 0 .5rem 2rem;
  align-self: flex-start;
  color: #333;
}

.initial-proto3{
  font-size: 2.6rem;
  font-weight: 600;
  float: right;
  margin: 4rem 0 2rem 2rem;
  color: #333;
}

.initial-proto4{
  font-size: 2.6rem;
  font-weight: 600;
  float: right;
  /*width: 30rem;*/
  margin: 0 0 1em .7em;
  color: #333;
}

#final-size{
  /*height: 100%;*/
}

.sketch-container::-webkit-scrollbar {
 display: none;
}

.sketch-container{
  width: 100%;
  overflow: auto;
  /*height: 100%;*/
  margin-bottom: .5em;
  display: flex;
}

.sketch-container>div{
  /*height:100%;*/
  flex: 1 0 0%;
  min-width: 90%;
  margin-left: .5em;
  padding-top: .5em;
}

.sketch-container>div>img{
  width: 100%;
}

.sketch-container2{
  width: 100%;
  overflow: auto;
  /*height: 100%;*/
  /*margin-bottom: .5em;*/
  display: flex;
}

.sketch-container2::-webkit-scrollbar {
 display: none;
}

.sketch-container2>div>img{
  width: 70vw;
}

.sketch1{
  width: 25rem;
  margin: 2rem 2rem 0 0;
  float: right;
  box-shadow: .3rem .1rem .2rem darkgrey;
}

.sketch2{
  width: 25rem;
  margin: -12rem 6rem 0 0;
  float: right;
  box-shadow: .3rem .1rem .2rem darkgrey;
}

.sketch3{
  width: 25rem;
  margin: -12rem 10rem 0 0;
  box-shadow: .3rem .1rem .2rem darkgrey;
  float: right;
}

.sketch4{
  width: 25rem;
  margin: -12rem 0 0 5rem;
  box-shadow: .3rem .1rem .2rem darkgrey;
}

.sketch5{
  width: 25rem;
  margin: -12rem 0 2rem 2rem;
  box-shadow: .3rem .1rem .2rem darkgrey;
}

.code{
  width: 90%;
  margin: 0 0 1rem 0;
  box-shadow: .1rem .1rem 1rem .2rem darkgrey;
}

.code2{
  width: 90%;
  margin: 0 0 1em 0;
  align-self: center;
  box-shadow: .6rem .2rem .5rem darkgrey;
}

.code3{
  width: 40%;
  height: 10%;
  margin: 2em 0 1em 0;
}

.code4{
  width: 10%;
  height: 10%;
  margin: 2em 0 1em 3em;
}

.code-contianer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
  margin-top: 1em;
}

.proto-container{
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.text-inside-center{
  text-align: center;

}

.synthesis1{
  border: 5px solid #fff;
  width: 50%;
  float: right;
  margin: 0 2rem 0 0;
}

.synthesis2{
  border: 5px solid #fff;
  width: 43%;
  float: right;
  margin: -19rem 17.5rem 0 0;
}

.synthesis3{
  border: 1px solid #fff;
  width: 60%;
  float: right;
  margin: -10rem 1rem 0 0;
}

.synthesis4{
  width: 60%;
  float: right;
  margin: 2rem 5rem 0 0;
}

.synthesis5{
  width: 60%;
  float: right;
  margin: -10rem 13rem 0 0;
}

.synthesis6{
  width: 60%;
  float: right;
  margin: -15rem 2rem 2rem 0;
}

.sketch6{
  width: 25rem;
  margin: 2rem 2rem 0 0;
  float: right;
  /*box-shadow: .3rem .1rem .2rem darkgrey;*/
}

.sketch7{
  width: 25rem;
  margin: -12rem 6rem 0 0;
  float: right;
  /*box-shadow: .3rem .1rem .2rem darkgrey;*/
}

.sketch8{
  width: 25rem;
  margin: -12rem 10rem 0 0;
  /*box-shadow: .3rem .1rem .2rem darkgrey;*/
  float: right;
}

.bg-third{
  background-color: #E5F1DF;
  margin: 2rem 0 0 0;
}

.outcomes-image{
  width: 20%;
  margin-left: 2rem;
  margin-top: 1.5rem
}

.img-titles9{
  color: #333;
  float: right;
  margin: -10rem 2rem 0 0;
}

.text-inside-9{
  margin-left: 0;
  padding: 1rem 1rem 0 1rem;
}

.text-inside-10{
  color: #333;
}

.img-titles10{
  color: #333;
  margin: .5rem 0 1rem 2rem;
  font-weight: 600;
  padding: 1em 0 0 0;
}

.site-button{
  background-color: #0D5741;
  border-radius: 5em;
  margin-bottom: 1.5em;
  padding: 10px 20px 10px 20px;
  border: none;
  color: #fff;
  font-size: .8em;
}

.site-button:hover{
  background-color: #E5F1DF;
}

.button-container{
  display: flex;
  justify-content: center;
}

* {box-sizing:border-box}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

.mySlides2 {
    display: none;
}
.mySlides3 {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #333;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  opacity: 1;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  /*animation-duration: 1.5s;*/
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* remove Menu button from projects pages */
i.navbar-toggle {
  display: none;
}
