@import url("project.responsive.css");
/*MEDIA QUERYS*/
/*IPHONE 6*/
@media (min-width:370px) {

  p{
    font-size: 1.1rem;
    text-align: center;
  }

  h2{
    font-size: 2rem;
  }

  .android-img{
    width: 20%;
    float: left;
    margin: -1em 3em 0 1.5em;
  }

    .p-android{
      width: 23em;
      margin-bottom: 3em;
    }

  .freq-container>h6{
    font-size: 1.1rem;
  }

  .researchDesign>p{
    font-size: 1.5rem;
  }

  .sub-container{
    width: 100%;
  }

  .pie-container{
    flex-direction: row;
    justify-content: center;
  }

  .pie-text{
    text-align: left;
  }

  .tools-container4{
    margin-bottom: 1em;
  }

  .section-container>p{
    text-align: left;
  }

}

/*IPHONE 6 Plus*/
@media (min-width: 410px) {

  .android-img{
    width: 25%;
    margin: -1.5em 2em 2em 3em;
  }

  .p-android{
    width: 25em;
  }

  .pie-text{
    width: 15em;
  }

  .pie{
    width: 70%;
  }

  .freq-container>img{
    height: 4em;
  }

  .freq-container>h6{
    font-size: 1.3rem
  }

  .must-icon-container>img{
    height: 4em;
  }

  .must-icon-container>h6{
    font-size: 1.3rem;
  }

  .ovtitles{
    margin-left: 0;
  }

  .overviewSections{
    align-self: flex-start;
  }

  .tools-container4{
    justify-content: center;
    margin-left: 0;
    padding-bottom: 0;
  }

  .tools-container4>img{
    width: 25%;
    margin-right: 1em;
  }


}

/*LANDSCAPE IPHONE 5*/
@media (min-width: 565px) {

    section{
      padding: 0;
    }

    header{
      height: 90vh;
    }

    .overview {
      width: 30em;
      margin-left: 5em;
    }

    .icon-title-container{
      flex-direction: row;
    }

    .icon-title-container2{
      flex-direction: row;
    }

    .role>p{
      font-size: 1.8rem;
    }

    .pie{
      width: 70%;
      margin-bottom: 1em;
    }

    .pie-text{
      font-size: 18px;
      width: 25em;
    }

    .android-img{
      width: 16%;
      float: left;
      margin: -2em 1.5em .5em 2em;
    }

    p{
      font-weight: 300;
      width: 35em;
      margin-bottom: 3.5em;
    }

    .p-android{
      width: 30em;
      margin-top: 2em;
      margin-bottom: 2em;
      font-size: 18px;
    }

    .pie-text{
      font-weight: 300;
    }

    .freq-container>img{
      height: 4.5em;
    }

    .researchDesign>p{
      font-size: 18px;
    }

    h2{
      font-size: 1.2em;
    }

    h6{
      font-size: 1.4rem;
    }

    .overview{
      flex-direction: row;
      width: 20em;
      margin-left: 0;
      justify-content: flex-start;
    }

    .section-container{
      margin-left: .9em;
    }

    .section-container>p{
      margin: 0;
      width: 14em;
      text-align: center;
    }

    .tools-container4{
      justify-content: space-around;
      margin-left: 0;
    }

    .tools-container4>img{
      width: 15%;
      padding: 0;
      margin: 0;
    }

    .ovtitles{
      align-self: center;
    }

    .bg-img{
      height: 75vh;
    }

    .code{
      width:65%;
    }

    .screenshot{
      width: 84%;
    }

    .sub-container{
      align-self: center;
      width: 25em;
    }

    .sketch-container{
      margin-bottom: 0;
    }

    .sketch-container>div>img{
      width: 100%;
    }

    .sketch-container>div {
      flex: 1 0 0%;
      min-width: 65%;
      margin-left: 0;
      padding-top: .5em;
    }

    .must-icon-container>img{
      height: 5.5em;
    }

    #final-size{
      height: 100%;
      margin-bottom: 0;
    }

    .synthesis1{
      margin: 0 5rem 0 0;
    }

    .synthesis2{
      float: left;
      margin: -19em 0 0 2em;
    }

    .synthesis3{
      margin: -10rem 3rem 0 0;
    }

    .research-title{
       font-size:   3.5em;
       margin: auto;
    }

    .overviewSections{
      font-size: 1.2rem;
    }

    .frequent-apps-title{
      font-weight: 400;
      text-align: center;
      margin-top: 1em;
    }

    .apps>div>h4{
      font-weight: 400;
    }

}

/*LANDSCAPE IPHONE 6*/
@media (min-width: 665px) {

  .credit1{
    font-size: 1.2rem;
  }

  .overview{
    width: 40em;
    justify-content: center;
  }

  section{
    padding: 0;
  }

  h4{
    font-weight: 300;
    font-size: 2.1rem;
  }

  .research-title{
    margin: auto;
  }

  .pie-text{
    font-weight: 300;
    margin-left: 2em;
  }

  .android-img{
    width: 15%;
    margin: -2.5em 2em 1em 4em;
  }

  .p-android{
    margin-top: 1.5em;
    width: 32em;
  }

  .pie{
    width: 45%;
  }

  .frequent-apps-title{
    margin-left: 2em;
  }

  .freq-container>img{
    height: 6em;
  }

  .freq-container>h6{
    font-size: 1.8rem;
  }

  .must-icon-container>img{
    height: 6em;
  }

  .must-icon-container>h6{
    font-size: 1.8rem;
  }

  .icon-title-container>img{
    height: 4em;
  }

  .icon-title-container>.css-icon{
    width: 3.5em;
  }

  .icon-title-container2>img{
    height: 4em;
  }

}

/*LANDSCAPE IPHONE 6 Plus*/
@media (min-width: 735px){
  section{
    padding: 0;
  }

  .overview{
    justify-content: space-around;
    width: 100%;
  }

  .section-container{
    margin-left: 0;
  }

  .overviewSections{
    font-size: 1.3rem;
  }

  .tools-title-container{
    margin-left: 1em;
  }

  .tools-container{
    margin-bottom: 5em;
  }

  .screenshot{
    margin: 1em 0;
  }

  .p-android{
    width: 33em;
    font-size: 2.2rem;
  }

  .android-img{
    margin-left: 4em;
    margin-right: 3em;
  }

  .sub-titles{
    font-size: 2.5rem;
  }

  .credit1{
    font-size: 1.5rem;
  }

  .bold-titles{
    font-size: 4rem;
  }

  .researchDesign>p{
    font-size: 2.2rem;
  }

  h4{
    font-size: 2.2rem;
  }

  .right-set{
    width: 50%;
  }

  .left-set{
    width: 50%;
  }
}

/*IPAD*/
@media (min-width:765px) {
  header{
    min-height: 42%;
    height: 60vh;
  }

  .bold-titles{
    font-size: 5.5rem;
  }

  hr{
    margin-bottom: 3em;
  }

  .sub-titles{
    font-size: 1.7em;
  }

  .p-android{
    font-size: 2.5rem;
    width: 30em;
  }

  .freq-container>img{
    height: 6.5em;
  }

  .freq-container>h6{
    font-size: 2rem;
  }

  .must-icon-container>img{
    height: 6.5em;
  }

  .must-icon-container>h6{
    font-size: 2rem;
  }

  h4{
    font-size: 2.5rem;
  }

  .sub-titles{
    font-size: 2.7rem;
  }

  .android-pie-conatiner{
    display: flex;
    flex-direction: row;
  }

  .android-pie-conatiner>div{
    margin-left: 6em;
    align-self: center;
  }


  .pie{
    width: 95%;
  }



  .p-android{
    margin-bottom: 0;
  }

  .researchDesign>p{
    font-size: 2.5rem;
  }

  .credit1{
    font-size: 1em;
  }

  .site-button{
    padding: 10px 25px 10px 25px;
    font-size: .9em;
  }

  .overview .section-container{
    flex: none;
    min-width: 0;
  }

  .bg-img{
    height: 46vh;
  }

  .code{
    width: 75%;
  }

  .sketch-container{
    height: 100%;
  }

}

/*LANDSCAPE IPAD && IPAD Pro small desktop*/
@media (min-width:1020px) {

  .pie-container{
    flex-direction: column;
  }

  h6{
    font-size: 1.8rem;
  }

  .role{
    height: auto;
  }

  .role>p{
    width: 30em;
    font-size: 2.5rem;
    padding: 2.5em;
  }

  header{
    height: 60%;
  }

  .overview {
    flex-direction: row;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }

  .overview>div>p {
    width: 30vw;
    font-size: 1.7rem;
  }

  .ovtitles{
    font-size: 2.5rem;
  }

  .bold-titles{
    font-size: 5.5rem;
  }

  hr{
    margin-bottom: 5em;
  }

  .credit1{
    font-size: 1.1em;
    align-self: center;
    margin-bottom: 2em;
  }

  .android-pie-conatiner{
    margin-bottom: 6em;
  }

  .android-pie-conatiner>div{
    margin-left: 7.5em;
  }

  .pie{
    margin-bottom: 0;
    width: 80%;
  }

  .pie-text{
    font-size:2.5rem;
    width: 15em;
    text-align: center;
    margin-left: 0;
    margin-bottom: -.5em;
    margin-top: .5em;
  }

  .android-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .p-android{
    font-size: 2.5rem;
    width: 13em;
    text-align: center;
    margin-top: 0;
  }

  .android-img{
    width: 40%;
    margin: 0 3em 1em 5em;
  }

  .researchDesign>p{
    font-size: 2.5rem;
  }

  .frequent-apps-title{
    margin-bottom: 2.5em;
    margin-left: 0;
    width: 100%;
  }

  .freq-container>img{
    height: 6em;
  }

  .freq-container>h6 {
    font-size: 1.8rem;
}

  .freq-container{
    margin-bottom: 3em;
  }

  .icon-title-container{
    flex-direction: column;
  }

  .icon-title-container>img{
    height: 6em;
  }

  .icon-title-container>.css-icon{
    width: 5em;
  }

  .icon-title-container2{
    flex-direction: column;
  }

  .icon-title-container2>img{
    height: 6em;
  }

  .sketch-container {
     justify-content: flex-start;
  }

  #final-size{
    height: 90vh;
  }

  .together{
    margin-bottom: 3em;
  }

  p{
    width: 40em;
    font-size: 1.8rem;
  }

  .p-subtitles{
    width:100%;
  }

  .sub-titles2{
    font-size: 3.2rem;
    margin: 3em 0 1.5em 0;
  }

  .slideshow-container{
    width: 80%;
  }

  .code{
    width: 80%;
  }

  .bg-img{
    height: 59vh;
    width: 100vw;
    margin-bottom: 5em;
  }

  .insigt-container>h4 {
    margin: 0 0 1.5em 0;
  }

  .must-icon-container>h6 {
    font-size: 1.8rem;
    margin-bottom: 3em;
  }

  .sub-titles{
    font-size: 3.2rem;
    margin-bottom: 1em;
  }

  .tools-container4{
    margin-top: 1.5em;
    margin-bottom: 3em;
    justify-content: center;
  }

  .tools-container4>img{
    margin: 0 3em 0 3em;
    width: 11%;
  }

  .white-container{
    display: flex;
    justify-content: center;
  }

  .text-alignment{
    width: 27em;
    text-align: left;
    margin-top: 8em;
  }

  .text-alignment2{
    width: 26em;
    text-align: left;
    margin-top: 8em;
    margin-left: 1.5em;
  }

  .final-space{
    margin-top: 4em;
  }

  .sub-container>p{
    font-size: 1.8rem;
    width: 35em;
  }

  .sub-container{
    align-items: center;
    width: 100%
  }

  .overall-conatiner{
    margin-bottom: 2em;
  }

  .conclusion-container{
    margin-bottom: 3em;
  }

  .container{
    margin-top: 1em;
  }

  .container>div>div>p{
    width: 35em;
    margin: -1.5em 0 2em 8em;
  }

  .container>div>div>div>p{
    width: 15em;
  }

  .conclusion-text{
    margin-bottom: 2em;
  }

}
/*IPAD PRO LANDSCAPE*/
@media (min-width:1360px){

  header{
    height: 50%;
  }

  .pie-container{
    flex-direction: column;
  }

  .overview {
    flex-direction: row;
    max-width: 90vw;
    flex-wrap: wrap;
    justify-content: center;
    /*width: 90em;*/
    margin-left: 50px;
  }

  .overview>div{
    margin-left: 2em;
  }

  .overview>div>p {
    width: 25vw;
    font-size: .9em;
  }

  .screenshot{
    width: 50%;
  }

  .p-android{
    font-size: 1.8em;
  }

  .frequent-apps-title{
    font-size: 1.5;
    margin-left: 2.6em;
  }

  .computer{
    display: none;
  }

  .together{
    width: 30%;
    margin-left: 31em;
    margin-top: 0;
    border: 5px solid #fff;
  }

  .apps>div>img{
    width: 25%;
  }

  .pie-text{
    font-size: 1.8em;
  }

  .pie{
    width: 20%;
  }

  .zendesk-img{
    width: 30%;
    margin-left: 20em;
  }

  .wordPress-img{
    width: 10%;
    margin-left: 5em;
  }

  .sketch-container>div{
    min-width: 42%
  }

  .sketch-container>div>img {
    width: 41vw;
  }

  #final-size{
    height: 65vh;
  }

  .sketch-container{
    /*height: 55vh;*/
  }

  .synthesis1{
    width: 30%;
    margin: 5em 23em 0 0;
  }

  .synthesis2{
    width: 25%;
    margin-left: 18em;
    border: 7px solid #fff;
  }

  .synthesis3{
    width: 35%;
    margin: -9em 18em 0 0;
  }

  .code{
    width: 100%;
  }

  .code2{
    width: 100%;
  }

  .site-button{
    margin-left: 4em;
    margin-top: 1em;
  }
}
