body{
  font-family: futura, cursive, sans-serif; 
}

.logo{
  height: 100%;
}

.navbar-brand{
  padding: 0;
}

.nav{
  font-family: 'Rock Salt', cursive;
}

header{
  background-image: url("../images/computer.png");
}

h1{
  font-family: 'Rock Salt', cursive;
  letter-spacing: 7px;
  line-height: 1.75;
}

header .header-content .header-content-inner p{
  color: #fff;
}

.navbar-default .nav > li.active>a, .navbar-default .nav>li.active>a:focus{
  color: #75DDDD;
}

.bg-primary{
  /*background-image: url("../images/wood2.png");*/

  background-color: #508991;
}

.bg-dark{
  background-color: #172A3A;
}

.navbar-default .nav > li>a, .navbar-default .nav>li>a:focus{
  font-size: 1rem;
  letter-spacing: 3px;
}
.fa{
  color: #FF6F59;
}

hr{
  border-color: #fff;
}

.navbar-default .nav > li>a, .navbar-default .nav>li>a:focus{
  color: #fff;
}

a{
  color: #09BC8A;
}

a:hover{
  color: #000;
}

.btn-primary {
  background-color: #FF6F59;
}

.btn-primary:hover{
  background-color: #BA5141;
}

.btn-primary:active {
  background-color: #E86551;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav > li.active>a:hover,
.navbar-default .nav > li>a,
.navbar-default .nav > li:hover>a {
  color: #09BC8A !important;
}
.navbar-default .nav > li:hover {
  background-color: #75DDDD !important;
}

.navbar-default .nav > li.active {
  background-co\lor: #75DDDD !important;
}

@media (min-width: 768px)  {
  .navbar-default .nav > li.active>a,
  .navbar-default .nav > li.active>a:hover,
  .navbar-default .nav > li>a,
  .navbar-default .nav > li:hover>a {
    color: #FFFFFF !important;
  }
  .navbar-default .nav > li:hover {
    background-color: #75DDDD !important;
  }

  .navbar-default .nav > li.active {
    background-color: #75DDDD !important;
  }
}
