h2{
  padding: 0 1.5em;
}

.screenshot-container{
  display: flex;
  flex-direction: row;
}

.screenshot{
  width: 80%;
  margin-left: 2.5em;
  margin-bottom: 4em;
}

.graph1{
  width: 90%;
}

.graph2{
  width: 90%;
}

.interview-container{
 display: flex;
 flex-direction: column;
}

.interview{
  width: 100vw;
}

.sketches{
  width: 90vw;
}

.key{
  width: 20vw;
}

.lo-fi-container{
  display: flex;
  flex-direction: column;
}

.lo-fi{
  width: 80vw;
}

.hi-fi-container{
  display: flex;
  flex-direction: column;
}

.hi-fi{
  width: 70vw;
}

.image-container {
  overflow: hidden;
}
