header{
  background-size: cover;
  background-repeat: no-repeat;
  height: 25rem;
  padding-bottom: 2em;
}

header .header-content{
  margin-top: 5rem;
  padding: 4.5em 15px 0 0;
}

body{
  font-size: 16px;
  font-family: Futura, cursive, sans-serif;
}

section{
  padding: 20px 0;
}

.btn-new{
  margin-top: 2rem;
  height: 4rem;
  width: 13rem;
  background-color: #F2811D;
  border: none;
  border-radius: 4rem;
  font-size: 13px;
  box-shadow: 5px 5px 8px #333;
}

.title{
  color: #fff;
  font-size: 2em;
}

.text-box-1{
  border-radius: 5px;
  background-color: #F2811D;
  width: 35rem;
  height: auto;
  margin-left: 2.5rem;
  opacity: 0.57;
}

.bg-primary{
  background-color: #F3F3F3;
  height: 65rem;
  padding: 1rem 0 0 0;
}

.overview{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}


.ovtitles{
  color: #333;
  margin-left: 1em;
  font-family: futura, sans-serif;

}

.overviewSections{
  color: #333;
  width: 30rem;
  align-self: center;
  font-family: futura, sans-serif;
}

.section-container{
  display: flex;
  flex-direction: column;
}

.screenshot{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-secondary{
  background-color: #F3F3F3;
  height: 28rem;
  padding: 0;
}

.designTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}
.research-title{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 7rem;
  color: #F2811D;
}

/*FIRST RESEARCH SECTION*/
.researchDesign{
  align-self: center;
  margin-left: 1rem;
  padding: 0;
}

.graph1{
  margin: 6rem 0 0 3rem;
  align-self: flex-start;
}

.graph2{
  float: right;
  margin: 2rem 3rem 3rem 0;
  align-self: flex-end;
}

.text-inside{
  padding: 2rem;
  text-align: justify left;
  line-height: normal;
}

.info-back{
  border-radius: 5px;
  background-color: #F3F3F3;
  width: 30rem;
  margin: 3rem 0 0 5rem;
  /*word-spacing: .2px;*/
  /*box-shadow: 5px 4px 12px black;*/
}

.bike-path1{
  background-image: url("/images/bikePath1.png");
  background-repeat: no-repeat;
  background-position: 9rem 8rem;
  background-size: auto 89%;
  padding: 0;
}

/*SECOND RESEARCH SECTION*/
.circle{
  float: right;
  padding: 0;
  margin: .5rem 4rem 0 0;
}

.bike-path2{
  background-image: url("/images/bikePath2.png");
  background-repeat: no-repeat;
  background-position: 6rem 3rem;
  background-size: auto 95%;
  padding: 0;
  margin: 0;
}

.img-titles{
  color: #F2811D;
}

.biker-one{
  float: right;
  margin: 1.5rem 5rem 0 0;
}

.biker-two{
  margin: 37rem 0 0 5rem;

}

.biker-three{
  float: right;
  margin: .5rem 5rem 0 0;
}

.info-back2{
  border-radius: 5px;
  background-color: #F3F3F3;
  width: 30rem;
  margin: 24rem 0 0 5rem;
  /*word-spacing: 0;*/
  /*box-shadow: 5px 4px 12px black;*/
}

.quote-back{
  border-radius: 5px;
  background-color: #FDEBDA;
  width: 35rem;
  height: auto;
  margin: 3rem 0 6rem 3rem;
  padding: 0;
}

/*FIRST SYNTHESIS SECTION*/

.bike-path3{
  background-image: url("/images/bikePath3.png");
  background-repeat: no-repeat;
  background-position: 14rem 1rem;
  background-size: auto 90%;
  padding: 0;
  margin: 0;
}

.circle2{
  padding: 0;
  margin: -2.5rem 0 0 3rem;
}

.img-titles2{
  color: #F2811D;
  margin: 2rem 0 0 3rem;
}

.text-inside-list{
  padding: 2rem 0 2rem 3rem;
  line-height: normal;
  color: #F2811D;
}

.text-inside-2{
  margin-right: 2rem;
  padding: 2rem 4rem .5rem 2rem;
  text-align: justify left;
  line-height: normal;
}

.info-back3{
  border-radius: 5px;
  background-color: #F3F3F3;
  width: 32rem;
  margin-left: 4rem;
  margin-bottom: 13rem;
  /*word-spacing: 0;*/
  /*box-shadow: 5px 4px 12px black;*/
}

/*SECOND SYNTHESIS SECTION*/
.circle3{
  padding: 0;
  float: right;
  margin: -8rem 13.5rem 0 0;
}

.img-titles3{
  color: #F2811D;
  margin: 2rem 7rem 0 0;
  float: right;
}

.text-inside-3{
  margin: 7.5rem 0 2.5rem 3rem;
  padding: 2rem 2rem 0 4rem;
  line-height: normal;
}

.bike-path4{
  background-image: url("/images/bikePath4.png");
  background-repeat: no-repeat;
  background-position: 2rem -.5rem;
  background-size: auto 89%;
  padding: 0;
  margin: 0;
}

/*FIRST DESIGN SECTION*/
.circle4{
  padding: 0;
  margin: -8.5rem 0 0 10rem;
}

.img-titles4{
  color: #F2811D;
  margin: 3rem 0 0 6rem;
}

.text-inside-4{
  margin: 2rem 0 0 0;
  padding: 2rem 2rem 2rem 2rem;
  line-height: normal;
}

.img-titles5{
  color: #F2811D;
  margin: 1rem 0 0 0;
}

.info-back-4{
  border-radius: 5px;
  background-color: #F3F3F3;
  width: 30rem;
  margin-left: 5rem;
  margin-bottom: 3rem;
}
.sketch-1{
  margin: 0 0 0 4.5rem;
}

.images-usability{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 3rem;
  margin-right: 3rem;
}

.usability-1{
  width: 30rem;
  height: auto;
  margin: 2rem 2rem .5rem 2rem;
}

.images-revision{
  width: 30rem;
  height: auto;
  margin: 2rem 2rem .5rem 2rem;
}

.roadmap{
  width: 20rem;
  height: auto;
  margin: 2rem 2rem 3rem 7.5rem;
}

.bike-path5{
  background-image: url("/images/bikePath5.png");
  background-repeat: no-repeat;
  background-position: 16rem 1.5rem;
  background-size: auto 98%;
  padding: 0;
  margin-bottom: 8rem;
}

/*SECOND DESIGN SECTION*/
.second-design-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 3rem;
  margin-right: 3rem;
}

.circle5{
  padding: 0;
  margin: -9.5rem 8rem 0 0;
  float: right;
}

.refined{
  width: 30rem;
  height: auto;
  margin: .5rem 2rem .5rem 2rem;
}

.info-back-6{
  border-radius: 5px;
  background-color: #F3F3F3;
  width: 30rem;
  margin-left: 5rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  /*box-shadow: 5px 4px 12px black;*/
}

.text-inside-6{
  margin: 2rem 0 0 0;
  padding: 2rem 2rem 2rem 2rem;
  line-height: normal;
}

.lo-fi{
  width: 30rem;
  height: auto;
  margin: 1rem 2rem 1rem 4.5rem;
}

.lo-fi1{
  width: 28rem;
  height: auto;
  margin: 1rem 0 5rem 6.5rem;
}

.bike-path6{
  background-image: url("/images/bikePath6.png");
  background-repeat: no-repeat;
  background-position: 2.5rem 0;
  background-size: auto 99%;
  padding: 0;
  margin-bottom: 1rem;
}

/*THIRD DESIGN SECTION*/
.circle6{
  padding: 0;
  margin: -10rem 0 0 2rem;
}

.info-back-7{
  border-radius: 5px;
  background-color: #F3F3F3;
  width: 30rem;
  margin-left: 5rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  /*box-shadow: 5px 4px 12px black;*/
}

.text-inside-7{
  margin: 2rem 0 0 0;
  padding: 2rem 2rem 2rem 2rem;
  line-height: normal;
}

.hi-fi{
  width: 15rem;
  height: auto;
  margin: 1rem 0 1rem 4.5rem;
}

.hi-fi2{
  width: 15rem;
  height: auto;
  float: right;
  margin: -15rem 4.5rem 1rem 0;
}

.hi-fi3{
  width: 30rem;
  height: auto;
  margin: -10rem 2rem 1rem 4.5rem;
}

.img-titles6{
  float: right;
  color: #F2811D;
  margin: 10rem 5.5rem 0 0;
}
.img-titles7{
  color: #F2811D;
  margin: 3rem 0 0 4rem;
}
.img-titles8{
  color: #F2811D;
  margin: 3rem 0 0 9rem;
}

.usability-2{
  width: 30rem;
  height: auto;
}

.info-back-8{
  border-radius: 5px;
  background-color: #F3F3F3;
  width: 30rem;
  text-align: center;
  margin-left: 5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  /*box-shadow: 5px 4px 12px black;*/
}

.text-inside-8{
  margin: 2rem 0 0 0;
  padding: 2rem 2rem 2rem 2rem;
  line-height: normal;
}

.final{
  margin: 0 0 8rem 6rem;
}

.bike-path7{
  background-image: url("/images/bikePath7.png");
  background-repeat: no-repeat;
  background-position: 8rem -1rem;
  background-size: auto 100%;
  padding: 0;
  margin-top: -1rem;
}

/*OUTCOMES*/
.circle6{
  padding: 0;
  margin: -1.5rem 0 0 1rem;
}

.bg-third{
  background-color: #F3F3F3;
  height: 29rem;
  padding: -10rem 0 0 0;
}

.img-titles9{
  color: #F2811D;
  float: right;
  margin: -8rem 2rem 0 0;
}

.text-inside-9{
  margin-left: 1rem;
  padding: 2rem 3rem 1rem 2.5rem;
}


/*REFLECTIONS*/
.bg-reflections{
  background-image: url('/images/bikes2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30rem;
  width: auto;
  padding-bottom: 2em;
}

.img-titles10{
  color: #FFF;
  margin: 1.5rem 0 2rem 3rem;
  letter-spacing: 1px;
}

.text-inside-10{
  margin-left: 1rem;
  padding: 1rem 2rem 1rem 2rem;
  color: #F2811D;
}

.text-box{
  border-radius: 5px;
  background-color: #fff;
  width: 35rem;
  height: auto;
  margin-left: 2.5rem;
  opacity: 0.57;
}

/*OVERALL*/
.collection{
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}


/*MEDIA QUERYS*/
@media (min-width:768px) {
  .overview{
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3em;
  }

  .section-container{
    align-items: center;
  }
  .ovtitles{
    margin-left: 0;
  }
  .bg-primary{
    height: 30rem;
  }
}
