<section>
  <div class="tools-title-container">
    <h2 class="ovtitles">METHODS</h2>
  </div>
  <div class="tools-container1">
    <div class="icon-title-container2">
      <img src="/earn-img/synthesis-icon.png">
      <h6>SYNTHESIZE <br> RESEARCH</h6>
    </div>
    <div class="icon-title-container2">
      <!-- <i class="fa fa-pencil fa-4x" aria-hidden="true"></i> -->
      <img src="/earn-img/pencil-icon.png">
      <h6>SKETCHING</h6>
    </div>
    <div class="icon-title-container2">
      <img src="/earn-img/usability-testing-icon.png">
      <h6>USABILITY <br> TESTING</h6>
    </div>
    <!-- {{range .Params.methods}}
    <div class="icon-title-container2">
      <img src="{{ .image }}">
      {{ range .name }}
      <h6>{{ . }}</h6>
      {{ end }}
    </div>
    {{ end }} -->
  </div>
</section>
