{{ "<!-- OUTCOMES -->" | safeHTML }}
<section class="bg-third">
  <div class="outcomes">
    <div class="circle6">
      <img src="/images/circleColor.png" alt="design cycle">
    </div>
    <h2 class="img-titles9">OUTCOMES OF </br>THIS PROCESS</h2>
    <div>
      <p class="text-inside-9">
        During this concept project, we created a strategy and design that would allowed San Francisco Bicycle Coalition (SFBC) members to easily report and track issues. This concept would allow members to actively contribute to the overall goals of the SFBC.
      </p>
    </div>
  </div>
</section>
