{{ "<!-- OVERVIEW -->" | safeHTML }}
<section class="bg-primary">
  <div class="overview">
    <!--<img src="/images/overview.png" alt="overview">-->
    <div class="section-container">
    <h3 class="ovtitles">OVERVIEW</h3>
    <p class="overviewSections">
      The SFBC is a non-profit organization that is committed to making the city of San Francisco safer for all cyclists. As a concept project SFBC needed a strategy and design for digital tools that would engage their members more frequently and give members a sense of active contribution to the SFBC’s larger goals.
    </p>
  </div>
  <div class="section-container">
    <h3 class="ovtitles">TEAM & DURATION</h3>
    <p class="overviewSections">
      My role was co-UX Designer with an additional focus on content strategy and visual design. The duration of this project was 2 weeks.
    </p>
  </div>
  <div class="section-container">
    <h3 class="ovtitles">TOOLS & METHODS</h3>
    <ul class="overviewSections">
      <li>User Surveys & Interviews</li>
      <li>Contextual Inquiry</li>
      <li>Sketching</li>
      <li>Prototyping</li>
      <li>Usability Testing</li>
    </ul>
  </div>
  </div>
</section>
