<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            {{ range where .Pages "Type" "project" }}
              <div class="col-lg-4 col-sm-6">
                  <a href="{{ .Permalink }}" class="portfolio-box portfolio-link" data-toggle="modal">
                      <img src="{{ .Params.listImage }}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                              <div class="project-name">{{ .Title }}</div>
                              <div class="project-category text-faded">{{ .Params.overview }}</div>
                            </div>
                        </div>
                  </a>
              </div>
            {{ end }}
        </div>
    </div>
</section>
